{
    margin:0;
    padding: 0;
    font-family: 'lato',sans-serif;

}
fieldset{
    margin: 2em 0;
    padding: 1em 2em;
    border-radius: 6px;
    min-width: 200px;
    
}
legend{
   
}
h1{
    text-align: center; color:black;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
}
catagory{
    background-color: black;
}
body{
  background-image: url(images/1.jpg);
}

h1{
  margin: 50px 0 10px 30px;
  color: black;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
}

.cat{
  font-family: 'Merriweather', serif;
  color: black;
  font-size: 18px;
}

#US {
  margin-left: 20px;
}

#JP {
  margin-left: 20px;
}

#CA {
  margin-left: 20px;
}

#CN {
  margin-left: 20px;
}

#GB {
  margin-left: 20px;
}

#AU {
  margin-left: 20px;
}

input[type=button] {
  -webkit-border-radius: 22;
  -moz-border-radius: 22;
  border-radius: 22px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  background: #20303b;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

input[type=button]:hover {
  background: #7f94a1;
  text-decoration: none;
}

.heading{
  font-family: 'Roboto', sans-serif;
  font-size: 22px;

}

.description{
  font-family: 'Newsreader', serif;
  font-size: 18px;
}

.refurl{

}
